<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="NLogs\internal-nlog.txt"
      internalLogToConsole="true"
      internalLogToConsoleError="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!--Debug console-->
  <targets>
    <target xsi:type="Debugger"
            name="debugger"
            layout="${longdate} ${callsite} ${level} ${message}"/>
  </targets>

  <!--Files-->
  <targets>
    <target xsi:type="File"
            name="InfoFile"
            fileName="NLogs\nlog-info-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File"
            name="ErrorFile"
            fileName="NLogs\nlog-error-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring} |url: ${aspnet-request-url} |action: ${aspnet-mvc-action}" />
  </targets>            
  
  <rules>
    <!--Debug console-->
    <logger name="*" minlevel="Trace" writeTo="debugger" />

    <!--Files-->
    <logger name="*" maxlevel="Info" writeTo="InfoFile" />
    <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="ErrorFile" />

    <!--Microsoft-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
  </rules>
</nlog>