<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="NLogs\internal-nlog.txt"
      internalLogToConsole="true"
      internalLogToConsoleError="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <!--AzureStorage extension-->
    <add assembly="NLog.Extensions.AzureStorage" />
  </extensions>

  <!--Azure-->
  <targets async="true">
    <target type="AzureBlobStorage"
            name="Azure"
            layout="${longdate:universalTime=true} ${level:uppercase=true} - ${logger}: ${message} ${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=1000}"
            connectionString="${configsetting:name=NLogConfig.Production.AzureBlob}"
            container="ConfRLogs"
            blobName="Log-${machinename}-${shortdate:universalTime=true}.log" />

    <target type="AzureTableStorage"
            name="AzureTable"
            layout="${longdate:universalTime=true} ${level:uppercase=true} - ${logger}: ${message} ${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=1000}"
            connectionString="${configsetting:name=NLogConfig.Production.AzureTable}"
            tableName="NlogTable" />
  </targets>

  <rules>
    <!--Azure-->
    <logger name="*" minlevel="Error" writeTo="Azure" />
    <logger name="*" minlevel="Error" writeTo="AzureTable" />

    <!--Microsoft-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
  </rules>
</nlog>